@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("./images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 75% -50px;
}

/* carousel arrows */

.rec.rec-arrow {
  border-radius: 12px;
  background: hsl(12, 88%, 59%) !important;
  color: white !important;
}

.rec.rec-arrow:hover {
  background: white !important;
  color: hsl(12, 88%, 59%) !important;
}


@media (max-width: 768px) {
  #root {
    background-image: url("./images/bg-tablet-pattern.svg");
    background-position: 1rem -3rem;
  }
}

